<div class="row">
  <div class="col-sm-5 col-md-6 my-3">
    <img
      src="{{book.image}}"
      class="img-fluid"
      alt="..."
    />
  </div>
  <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0 my-3">
    <h4>{{ book.title }}</h4>
    <h6>Description:</h6>
    <p>
      {{ book.description }}
    </p>
    <p>
      <span class="h6">Category: </span
      ><span>{{ book.category | titlecase }}</span>
    </p>
    <p>
      <span class="h6">Quality: </span><span>{{ book.quantity }}</span>
    </p>
    <p>
      <span class="h6">Price: </span
      ><span class="text-success">{{
        book.price | currency: "VND":"code"
      }}</span>
    </p>

    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="button" (click)="onCartClick()">Add Cart</button>
    </div>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div class="toast text-light bg-success" #toast>
    <div class="d-flex">
      <div class="toast-body">Successfully</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
