<div>
  <!-- List Bost -->
  <div class="d-flex justify-content-between my-3">
    <h3>Book List</h3>
    <button type="button" class="btn btn-secondary">Total: {{ length }}</button>
  </div>
  <div class="list-group">
    <ng-template [ngIf]="books">
      <a
        *ngFor="let book of books"
        (click)="onBookItemClick(book)"
        class="list-group-item list-group-item-action"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ book.title }}</h5>
          <small class="text-success">{{
            book.price | currency: "VND":"code"
          }}</small>
        </div>
        <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
        <small class="text-muted"
          >Category: {{ book.category.name | uppercase }}</small
        >
      </a>
    </ng-template>
  </div>
  <!--  -->

  <!-- Pagination -->
  <nav>
    <ul class="pagination justify-content-center" appPagiantion [totalPage]="getArrayPagination().length">
      <li class="page-item" [appPaginationDisable]="'left'" (click)="onPaginationLeftClick()">
        <a class="page-link">
          <span >&laquo;</span>
        </a>
      </li>

      <li
        class="page-item"
        [appPaginationActive]="item"
        *ngFor="let item of getArrayPagination()"
      >
        <a class="page-link" (click)="onPaginationPageClick(item)">{{
          item + 1
        }}</a>
      </li>

      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->
      <li class="page-item" [appPaginationDisable]="'right'" (click)="onPaginationRightClick()">
        <a class="page-link">
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
